<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="/static/css/pure.css" />
<link rel="stylesheet" type="text/css" href="/static/css/cityrescue.css" />
<link  href="https://fonts.googleapis.com/css?family=Lobster:regular" rel="stylesheet" type="text/css" >
</head>
<body>

<div id="sitelogo">CityRescue</div>

<div id="navigationBar">
<ul>
	<li><a href="#">Request</a></li>
	<li><a href="#">Pending Requests</a></li>
	<li><a href="#">Profile</a></li>
	<li id="logout_item"><a href="/logout">Log Out</a></li>

</ul>

    <h1>Here are all Pending Requests To Accept</h1>
    {{range .}}
    <div class="pure-controls">
      <input class="pure-button pure-button-primary" type="submit" value="Accept" />
    </div>
    <h3>{{.}}</h3>
    {{end}}
